// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

// Font icon class
.fa {
    font-family: "FontAwesome";
 }
 // Common page class
 .page-content {

 }

 .page-placeholder {
     color: $accent-dark;
     margin:40px;
     font-size: 20dp;
     vertical-align: center;
     text-align: center;
 }

 .page-icon {
     font-size: 72;
     vertical-align: top;
     horizontal-align: center;
     color: $page-icon-color;
     margin-top: 20%;
 }

 .thumb {
   width:64px;
   height:64px;
   color : $accent-light;
   background-color: #666;
 }

 .img128 {
   width:128px;
   margin:0px;
 }

 .imgthx {
   height:64px;
   padding:10px;
 }

 .img-circle {
   border-radius: 32px;
 }


 .h1 {
   color : $accent-light;
 }

.item {
  background-color: #000000;
  border-radius:8px;
  border-width: 1 1 1 1;
  border-color: #F07000;
}

.reward {
  border-radius:16px;
  border-width: 1 1 1 1;
  border-color: #F07000;
  margin:20px;
}

.item-dist {
  color:#FFFFFF;
  background-color: rgba(60,60,60,0.5);
  font-size: 18px;
  margin:0px;
  padding:20px;
  width:100%;
  text-align: center;
}

.item-pseudo {
  color : #F07000;
  text-transform: uppercase;
  font-size: 14px;
  vertical-align: center;
  text-align: center;
}

.item-name {
  color : #FFFFFF;
  font-size: 12px;
  vertical-align: center;
  text-align: center;
}

.item-desc {
  font-size: 12px;
  color: #FFFFFF;
}

.profile-pseudo {
  color : #F07000;
  text-transform: uppercase;
  font-size: 20px;
  vertical-align: center;
  text-align: center;
}

.profile-name {
  color : #FFFFFF;
  font-size: 16px;
  vertical-align: center;
  text-align: center;
}

.profile-pk {
  color : #FFFFFF;
  font-size: 16px;
  width:50%;
  vertical-align: center;
  text-align: center;
}

.profile-desc {
  font-size: 14px;
  color: #FFFFFF;
  border-radius: 4px;
  border-width: 1 1 1 1;
  border-color: #F07000;
  margin:20px;
  padding:40px;
}

.item-name-big {
  color : #F07000;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

.item-desc-big {
  font-size: 14px;
  color: #FFFFFF;
}

.item-price {
  font-size: 14px;
  color: #F07000;
  text-align: right;
}

 //Action bar
 ActionBar .action-bar-title {
     horizontal-align: center;
     font-family: "Audiowide","Audiowide-Regular";
 }

 .action-bar {
   font-family: "Audiowide","Audiowide-Regular";
 }

 .search-bar {
     background-color: $accent-dark;
 }

.inputTHX {
   width:100%;
   border-radius: 4px;
   border-width: 1 1 1 1;
   border-color: #F07000;
   font-size: 24px;
   text-align: right;
   padding:10;
   color:#FFFFFF;
 }

 .inputSearch {
    width:100%;
    border-radius: 4px;
    border-width: 1 1 1 1;
    border-color: #F07000;
    background-color: #FFFFFF;
    font-size: 16px;
    text-align: right;
    padding:4;
    color:#000000;
  }

 .thxaddress {
   width:360px;
   font-size: 42px;
   color:#FFFFFF;
   font-family: 'Share Tech Mono';
   margin: 20px;
 }

 .mapboxgl-popup-content {
   text-align: center;
   font-family: "Orbitron","Orbitron-Regular";
 }

.button {
   border-radius: 8px;
   font-family: "Orbitron","Orbitron-Regular";
}

.labelform {
  color:$accent-dark;
  margin:5;
  padding:5
}

.tfform {
  color:#FFFFFF;
  font-size: 18px;
  font-family: "Orbitron","Orbitron-Regular";
  border-color: $accent-dark;
  border-width: 2;
  border-radius: 8;
  margin:5;
  padding:5;
}

.offerimg {
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: #333;
  border-color: #F07000;
  border-width: 1;
  border-radius: 8;
}

.disabled {
  color:#666666;
  border-color:#666666;
}

.switchform {
  color:$accent-dark;
  background-color: #FFFFFF;
}
 Label {
   font-family: "Orbitron","Orbitron-Regular";
   margin:10px;
 }

 TabView {
   color:#FFFFFF;
   tab-text-color: #909090;
   tab-background-color: $background;
   selected-tab-text-color : $accent-dark;
   android-selected-tab-highlight-color: $accent-dark;
   font-family: "Audiowide","Audiowide-Regular";
 }

ListView {
   background-color: $background;
   color : $accent-light;
   font-family: "Orbitron","Orbitron-Regular";
 }

SegmentedBar{
  selected-background-color:#FFFFFF;
  font-size: 10;
  color: #FFFFFF;
}

ListPicker {
  color : #FFFFFF;
}

RadDataForm {
    background-color: #303030;
    color: $accent-dark;
    padding: 5;
    margin: 5;
}

PropertyEditor {
    background-color: #303030;
    color: $accent-dark;
    border-color: $accent-dark;
    border-width: 2;
    border-radius: 8;
    margin: 20;
    padding: 0;
    font-size: 14;
}

DataFormEditorLabel {
    color:$accent-dark;
    font-weight:bold;
    padding: 10;
    margin: 10;
    width: 150;
    position: left;
}

DataFormEditorCore {
    margin: 4;
    padding: 4;
    background-color: $background-dark;
    color:#FFFFFF;
    font-family: 'Audiowide',"Audiowide-Regular";
}

PropertyEditor[type='followMe'] {
    color:$accent-dark;
}

/* Override main-page.xml styles here: */

.page-layout {
background-image: url('~/images/login.jpg');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
 }

.logo-image {
  width:200px;
  margin:40px;
}

.input-field{
    border-width: 2;
    border-style: 'solid';
    border-color: #F07000;
    background-color: #FFFFFF;
    color:#F07000;
    font-family: "Audiowide","Audiowide-Regular";
    border-radius: 10px;
    padding:5;
    margin-top:10;
    margin-left: 20;
    margin-right: 20;
}

.hidden {
    transform:scaleY(0);
    animation-name: hidetf;
    animation-duration: 1;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes hidetf {
    0% {
        opacity:1;
        transform: scaleY(1);
    }
    100% {
        opacity:0;
        transform: scaleY(0);
    }
}

.shown {
  animation-name: showtf;
  animation-duration: 1;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes showtf {
    0% {
        opacity:0;
        transform: scaleY(0);
    }
    100% {
        opacity:1;
        transform: scaleY(1);
    }
}

.anim-fade-in{
    animation-name: intro-element-intro;
    animation-duration: 2;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}
@keyframes intro-element-intro {
    0% {
        opacity:0;
        transform: translate(0, 1000);
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
    100% {
        opacity:1;
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
        transform: translate(0, 0) ;
    }
}

.company-image{
    transform:scale(0.9,0.9) translate(0,54);
    animation-name: intro-company-intro;
    animation-duration: 4;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}
@keyframes intro-company-intro {
    0% {
        transform:scale(0.9,0.9) translate(0,54);
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
        opacity: 1;
    }
    100% {
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
        transform:scale(0,0) translate(0,-554);
        opacity: 0;
    }
}

.hideit {

    animation-name: hideitkf;
    animation-duration: 1;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
@keyframes hideitkf {
    0% {
        transform:translate(0,0);

    }
    10% {
        transform:translate(0,+5dp);

    }
    100% {
        transform: translate(0,-300dp);

    }
}

.showit {

    animation-name: showitkf;
    animation-duration: 1;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
@keyframes showitkf {
    0% {
        transform:translate(0,-300dp);

    }
    90% {
        transform:translate(0,+5dp);

    }
    100% {
        transform:translate(0,0);

    }
}

.solddate {
  color:#A0A0A0;
  font-size:12px;
}

.soldby {
  color:#FFFFFF;
  font-size:20px;
}

.soldmsg {
  color:#FFFFFF;
  font-size:14px;
}

.version {
  color:#000000;
  background-color: #F07000;
  font-size: 12px;
  padding: 0;
  margin: 0;
}
