// Custom common variables
@import '../app-variables';

// Drawer navigation custom styles
$sidedrawer-header-image-size: 60;
$sidedrawer-header-image-offset-top: 20;
$sidedrawer-header-image-offset-bottom: 5;
$sidedrawer-list-item-offset-left: 15;
$sidedrawer-list-icon-offset: 10;
$sidedrawer-list-icon-size: 20;

.sidedrawer {
    &.sidedrawer-left {
        background-color: $ab-background;
        -webkit-box-shadow: inset -8px 1px 40px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: inset -8px 1px 40px -4px rgba(0,0,0,0.75);
        box-shadow: inset -8px 1px 40px -4px rgba(0,0,0,0.75);

        .sidedrawer-header-image {
            color: $background-dark;
            height: $sidedrawer-header-image-size;
            width: $sidedrawer-header-image-size;
            font-size: $sidedrawer-header-image-size;
            padding: 0;
            margin-bottom: $sidedrawer-header-image-offset-bottom;
            margin-top: $sidedrawer-header-image-offset-top;
        }

        .footnote {
            color: #FFFFFF;
        }
    }

    .sidedrawer-header {
        background-color: $ab-background;

        .sidedrawer-header-brand {
            color: $ab-color;
        }
    }

    .sidedrawer-content {
        background-color: $ab-background;
    }

    .sidedrawer-list-item {
        padding-left: $sidedrawer-list-item-offset-left;
        background-color: $ab-background;

        Label {
            vertical-align: center;
            color: $blue-dark;
            margin-bottom: 20px;
        }

        .fa {
            width: $sidedrawer-list-icon-size;
            margin-right: $sidedrawer-list-icon-offset;
        }

        &.selected {
            background-color: #000000; //$item-active-background;

            Label {
                color: #FFFFFF;
            }
        }
    }
}
